<!DOCTYPE html>
<html>
<head>
    
    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}

    
</head>
<body>
    <header>
        <nav class="links">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </nav>
    </header>

    {% block content %}{% endblock %}
    
    <script src="/scripts.js"></script>
</body>
</html>